*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
header{
    background: rgba(0, 0, 0, 0.5)url("img/01.jpg");
    background-size: cover;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    height:  100vh;
    color: #ffffff;
}
#HeaderTOP{
    display: flex;   
}
#Logo-div{
   margin-right: 10%;
}
#Logo{
    height: 45px;
    margin-left: 20%;
    margin-top: 20%;
}
nav{
    justify-content: flex-end;
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    text-align: right;
}
.NavLink{
    margin-top: 2%;
    margin-right: 4%;
    font-size: 12px;
}
.NavLink:hover {
    color: #5645ff;
    cursor: pointer;
}
#Header-Content{
    margin-top: 12%;
    margin-left: 25%;
}
#Header-Content h1{
    margin-top: 3%;
   font-size: 160px;
   letter-spacing: 7px;
}
#Header-Content h2{
   font-size: 30px;
   letter-spacing: 5px;
}
#Header-Content p{
   font-size: 16px;
   letter-spacing: 2px;
   line-height: 30px;
}
#Header-Content button{
    background-color: #5645ff;
    color: white;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 13px;
    margin-top: 5%;
    letter-spacing: 2px;
    border-radius: 5px;
    border-width: 0px;
 }
 #Header-Content button:hover{
    color: #5645ff;
    background-color: #ffffff;
    cursor: pointer;
 }