*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    min-width: 800px;
}
header{
    background: rgba(0, 0, 0, 0.5)url("img/01.jpg");
    background-size: cover;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    height:  100vh;
    color: #ffffff;
}
#HeaderTOP{
    display: flex;   
}
#Logo-div{
   margin-right: 10%;
}
#Logo{
    height: 45px;
    margin-left: 20%;
    margin-top: 20%;
}
nav{
    justify-content: flex-end;
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    text-align: right;
}
.NavLink{
    margin-top: 2%;
    margin-right: 4%;
    font-size: 12px;
}
.NavLink:hover {
    color: #5645ff;
    cursor: pointer;
}
#Header-Content{
    margin-top: 12%;
    margin-left: 25vw;
    margin-right: 25vw;
}
#Header-Content h1{
    margin-top: 3%;
   font-size:clamp(100px,8.5vw,200px);
   letter-spacing: 7px;
}
#Header-Content h2{
   font-size: clamp(15px,1.5vw,50px);
   letter-spacing: 5px;
}
#Header-Content p{
   font-size: clamp(12px, 0.8vw, 16px);
   letter-spacing: 2px;
   line-height: 30px;
}
#Header-Content button{
    background-color: #5645ff;
    color: white;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 13px;
    margin-top: 5%;
    letter-spacing: 2px;
    border-radius: 5px;
    border-width: 0px;
 }
 #Header-Content button:hover{
    color: #5645ff;
    background-color: #ffffff;
    cursor: pointer;
 }
 #What-We-Do{
    background-color: #ffffff;
    margin-top: 10%;
 }
 .What-We-Do-Container{
    display: flex;
    flex-wrap: wrap; 
    margin-left: 17vw;
    margin-right: 17vw;
    justify-content: space-between;
    justify-content: center;
    margin-bottom: 5%;
 }
 #What-We-Do-DIV{
    height: 320px;
    width: 400px;
    
 }
 #What-We-Do-DIV h2,#Brand-Stor-Header h2{
   margin-top: 1.3vw;
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 3px;
    color: #4e4f54;
 }
 #What-We-Do-DIV h1 , #The-Work h1 , #Brand-Stor-Header h1{
    font-weight: 900;
    margin-top: 3%;
    margin-bottom: 10%;
    font-size: 55px;
    letter-spacing: 3px;
    color: #4e4f54;

 }
 #What-We-Do-DIV p ,#Brand-Stor-Header p{
    font-style: italic;
    font-weight: 600;
    color: #767679;
    letter-spacing: 1px;
    margin-bottom: 7%;
    font-size: 25px;
 }
 .What-We-Do-DIV{
    background-color: #f8f8f8;
    text-align: center;
    height: 320px;
    width: 380px;
    margin: 10px;
    border-radius: 5px;
 }
 .What-We-Do-DIV img{
    height: 20%;
    margin-top: 10%;
 }

 .What-We-Do-Container h4{
   margin: 1.2vw;
   font-weight: lighter;
   font-size: larger;
   letter-spacing: 2px;
   color: #5c5d62;
 }

 .What-We-Do-Container p , #The-Work p,.Brand-Stor-DIV p{
   margin-bottom: 2vw;
   color: #575757;
   line-height: 30px;
 }
 .What-We-Do-Container a{
   color: #000000;
   font-size: 15px;
   font-weight: 500;
 }
 .What-We-Do-Container a:hover{
   color: #5645ff;
   cursor: pointer;
 }
 #Best-ever-design{
   background: rgba(0, 0, 0, 0.5)url("img/02.jpg");
    background-size: cover;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    height: 27vw;
    color: #ffffff;
    text-align: center;
 }
 #Best-ever-design h4{
   padding-top: 8vw;
   font-weight: 100;
   font-size: clamp(15px, 1.8vw, 60px);
   letter-spacing: 3px;
 }

 #Best-ever-design h1{
   padding-top: 1vw;
   font-size: clamp(20px, 2.3vw, 60px);
   letter-spacing: 3px;
 }

 #Best-ever-design button{
   background-color: #5645ff;
   color: white;
   text-align: center;
   padding-left: 3vw;
   padding-right: 3vw;
   padding-top: 1vw;
   padding-bottom: 1%;
   font-size: 1vw;
   margin-top: 3vw;
   letter-spacing: 2px;
   border-radius: 5px;
   border-width: 0px;
 }
 #Best-ever-design button:hover{
   color: #5645ff;
   background-color: #ffffff;
   cursor: pointer;
}
#The-Work {
   text-align: center;  
}
#The-Work h1{
   margin-top: 5%;
   margin-bottom: 5% !important;
   font-weight: 600;
}
#The-Work p{
   margin-bottom: 5% !important;
   word-spacing: 15px;
}
.images-Container{
   margin-bottom: 30px;
   display: flex;
   justify-content:space-between;
   flex-wrap: wrap; 
}
@media (max-width: 1200px) {
   .images-Container {
      justify-content:space-evenly;
   }
}
.images-img{
   height: 400px;
   width: 600px;
   margin-bottom: 5px;
}
#Brand-Story{
   margin-left: 20vw;
   margin-right: 20vw;
}
#Brand-Stor-Header{
   text-align: left;
   
}
#Brand-Stor-Header h1{
   font-size: 50px;
   font-weight: 600;
   margin-bottom: 2%;
   margin-top: 1%;
}
#Brand-Stor-Header h2{
   margin-top: 10%;
   font-size: 30px;
   font-weight:100;
}
#Brand-Stor-Header p{
   margin-bottom: 1% ;
   font-size: 20px;
}
#Brand-Stor-Container{
   display: flex;
}
.Brand-Stor-DIV{
   width: 50%;
   padding-right: 2%;
}
#Brand-Stor-Links{
   list-style: none;
   column-count: 2;
   line-height: 40px;
   font-size: small;
   
}
#Brand-Story button{
background-color: #000000;
   color: white;
   text-align: center;
   padding-left: 3vw;
   padding-right: 3vw;
   padding-top: 1vw;
   padding-bottom: 1%;
   font-size: 22px;
   margin-top: 1vw;
   letter-spacing: 2px;
   border-radius: 5px;
   border-width: 0px;
}

 #Brand-Story button:hover{
   color: #5645ff;
   background-color: #f8f8f8;
   cursor: pointer;
}
.Brand-Stor-DIV  a{
   color: #5645ff;
   text-decoration: none;
}
.Brand-Stor-DIV a:hover{
   color: #000000;
}